						 
			#path2192:hover{
				pointer-events:all;
  				fill: red;
				stroke:blue; 
				 
			}
			 
 

			#path4160:hover{
				pointer-events:all;
  				fill: red;
				stroke:blue; 
 
				 
			}
			 
			#path4167:hover{
				pointer-events:all;
  				fill: red;
				stroke:blue; 
				
			}
			#path3152:hover{
				pointer-events:all;
  				fill: red;
				stroke:blue; 
				color: white;
			}

			

